<div class="regPage">
    <div class="pageContent">
        <div class="mainContent">
            <div class="leftContent">
                <div class="formContent">
                    <div class="fundoologo">
                        <span class="fLetter">F</span>
                        <span class="uLetter">U</span>
                        <span class="nLetter">N</span>
                        <span class="dLetter">D</span>
                        <span class="oLetter">O</span>
                        <span class="ooLetter">O</span>
                    </div>
                    <div class="logoText">Sign Up</div>
                    <div class="heading">to continue to fundoo application</div>
                    <div class="nameBlock">
                        <div class="firstNameClass">
                            <p>
                                <mat-form-field appearance="outline">
                                    <mat-label>First Name</mat-label>
                                    <input matInput placeholder="Enter First Name">

                                </mat-form-field>
                            </p>
                        </div>
                        <div class="lastNameClass">
                            <p>
                                <mat-form-field appearance="outline">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput placeholder="Enter Last Name">

                                </mat-form-field>
                            </p>
                        </div>
                    </div>
                    <div class="emailBlock">

                        <div class="usernameBlock">
                            <mat-form-field style="width: 84%;" appearance="outline">
                                <mat-label>Username</mat-label>
                                <input matInput placeholder="Enter email">

                            </mat-form-field>
                        </div>
                            
                        
                        <span style="margin-top: 0%; padding-top: 0%;">You can use letters,numbers & periods</span>


                    </div>
                    <div class="passwordBlock">
                        <div class="passwordContent">
                            <div class="passwordClass">
                                <p>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Password</mat-label>
                                        <input matInput placeholder="password">

                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="confirmPasswordClass">
                                <p>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Confirm</mat-label>
                                        <input matInput placeholder="confirm password">

                                    </mat-form-field>
                                </p>
                            </div>
                        </div>
                        <div>
                            <span>Use 8 or more characters with a mix of letters, numbers & symbols</span>
                        </div>

                        
                    </div>
                    <div class="buttonBlock">
                        <div class="buttonContent">
                            <div>
                                <button mat-raised-button color="primary">Sign In</button>
                                
                            </div>
                            <div>
                                <button mat-raised-button color="primary">Next</button>
                                
                            </div>
                        </div>
                        

                    </div>
                </div>

            </div>
            <div class="rightContent">
                <div class="rightImage">
                    <img src="../../../assets/signupicon.PNG">
                    <p class="imgText">One account. All of Fundoo working for you.</p>
                </div>
            </div>
        </div>
    </div>
</div>